<!DOCTYPE html>
    <html>
      <head>
        <title>About Me</title>
      </head>
      <body>
        <h1>Jones, Ryan</h1>
        <p>I love to play basketball. I have a fairly extensive background with finance. I speak French. I am studying computer science because I love creating things and building apps from nothing is the easiest way to create. I also love video games and am fascinated with the programming behind them.</p>
        <h2>My Professional Profile</h2>
        <a href = "https://github.com/ryanjones249">My Github</a>
        <div>
          <img src = "../resources/Eagle.jpg" class="img-circle" alt = "Image of who I am inside" height = "300" width = "400">
        </div>
        <h3>My Favorite Projects</h3>
        <table class="table">
          <tr>
            <th>Name of the Project</th><th>Technologies Used</th>
          </tr>
          <tr>
            <td>Truth</td><td>Superman</td>
          </tr>
          <tr>
            <td>Justice</td><td>Superman 2</td>
          </tr>
          <tr>
            <td>The American Way</td><td>Superman 4</td>
          </tr>
        </table>
        <br>
        <h3>My Interests</h3>
        <ul>
          <li>Basketball</li>
          <li>Food/Cooking</li>
          <li>Boating</li>
        </ul>
      </body>
    </html>
